body {
    background-color: #282828;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title{
    color: aliceblue;
    text-align: center;
}

.container {
    text-align: center;
}
.card {
    height: 610px;
    margin-left: 20px;
    margin-right: 20px;
    background: #5865f2;
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px #5865f2;
    /* text-align: center; */
   }
   
   .card .card-border-top {
    width: 60%;
    height: 3%;
    background: #7681fd;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
   }
   
   .card span {
    font-weight: 600;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
   }
   
   .card .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 30px;
   }
   
   .card .img {
    background-image: url('../images/Discord_Logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90px;
    height: 80px;
    border-radius: 50px;
    margin: auto;
    margin-top: 25px;
   }
   
   .card button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: #6d79ff;
    color: white;
    font-weight: 600;
   }
   
   .card button:hover {
    background: #4b5aff;
    cursor: pointer;
   }

   /* Button Home */
   #link {
    text-decoration: none;
   }
   .button {
    --color: #ffffff;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   