<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/profile.css">
    <title>Profile</title>
</head>
<body>
    <h2 class="title">User Profile</h2>
    <div class="container">
        <div class="card">
            <div class="card-border-top">
            </div>
            <div class="img">
                <!-- <img src="../static/images/user.jpg" alt=""> -->
            </div>
            <p class="job"><strong>Username:</strong> <span id="username"></span></p>
            <p class="job"><strong>Email:</strong> <span id="email"></span></p>
            <p class="job"><strong>First Name:</strong> <span id="first_name"></span></p>
            <p class="job"><strong>Last Name:</strong> <span id="last_name"></span></p>
            <button id="logout"> logout </button>
            <a id="link" href="./editUser.html">
                <button class="button"> Update</button>
            </a>
            <a id="link" href="./homeDiscord.html">
                <button class="button"> Home</button>
            </a>
        </div>
    </div>
    
    <script src="../static/js/profile.js"></script>
</body>
</html>